/* ========================================== */
@media (max-width: 991px) {
  /* Hero Section */
  #hero {
    /* height: calc(100vh - 72px); */
    height: 70%;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }

  /* TEAM */
  .team .member{
    padding: 0;
  }
}

/* ========================================== */
@media (max-width: 767px ) {

    /* NAVBAR */
	.blog-link {
		margin-left: 0;
		padding: 0.3rem 0 0 0;
        margin-left: -25px;
	}
    .navbar_header {
        margin-right: 10rem;
        margin-top: 0.5rem;
    }

    /* HERO */
    #hero .hero-img img {
        width: 70%;
      }

    #hero h1 {
      font-size: 30px;
      line-height: 36px;
    }
    
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }

    #hero .btn-get-started {
        margin-top: 1rem;
    }

    /* ABOUT */
    .section-about {
/*        height: 850px;*/
    }


    #about-txt{
        font-size: 2vmax;
        padding: 2vmax;
        padding: 1.5rem 6rem;
    }

    .display-4 {
            padding: 60px 0 0 0;
        }

    /* TEAM - make 2x2 columns for better view */
    /* .team {
        
    } */
  }

  /* ========================================== */
  @media (max-width: 580px) {
    
    /* NAVBAR */
    .navbar_header {
        margin-right: 10rem;
        margin-top: 0.5rem;
    }

    .navbar a {
        font-size: 1.0rem;
    }

    #hero .hero-img img {
      width: 70%;
    }

    /* ABOUT */
    .section-about {
/*        height: 750px;*/
        margin-top: 2rem;
    }

    #about-txt{
        font-size: 2.4vmax;
        padding: 2vmax;
        padding: 1.5rem 4rem;
    }

    .display-4 {
        padding: 60px 0 0 0;
    }

    /* TEAM */
    .team .member {
        width: 70%;
    }

    /* FOOTER */
    #footer .copyright,
    #footer .credits {
      float: none;
      -moz-text-align-last: center;
      text-align-last: center;
      padding: 3px 0;
    }
  }

   /* ========================================== */
   @media (max-width: 540px) {
    
    /* NAVBAR */
    .navbar_header {
        margin-top: 1rem;
        /* padding: 0.1rem; */
        margin: 1rem 15rem 0 0;
        padding-left: 0.3rem;
    }

    .navbar a {
        font-size: 0.9rem;
    }

    #hero .hero-img img {
      width: 80%;
    }

    /* ABOUT */
    .section-about {
/*        height: 750px;*/
        margin-top: 2rem;
    }

    #about-txt{
        font-size: 2.6vmax;
        padding: 2vmax;
        padding: 1.5rem 4rem;
    }

    .display-4 {
        padding: 60px 0 0 0;
    }

    /* TEAM */
    .team .member {
        width: 70%;
    }

    /* FOOTER */
    #footer .copyright,
    #footer .credits {
      float: none;
      -moz-text-align-last: center;
      text-align-last: center;
      padding: 3px 0;
    }
  }

   /* ========================================== */
   @media (max-width: 510px) {
    
    /* NAVBAR */
    .navbar_header {
        margin-top: 1rem;
        /* padding: 0.1rem; */
        margin: 1rem 0 0 -32px;
        /* padding-left: 0.6rem; */
    }

    .navbar a {
        font-size: 0.9rem;
    }
	   
}

/* ========================================== */
@media (max-width: 414px) {

     /* NAVBAR */
        .navbar_header {
            /* margin-right: 8rem;
            margin-top: 0.1rem; */
            padding: 1rem;
            margin: 0.1rem 0rem 0 0.1rem;
        }

        .navbar a {
            font-size: 0.8rem;
            /* padding: 0 -0.1rem 0 0.4rem; */
            padding: 0 0 0 1.2rem;
        }

        .blog-link {
            padding: 0.3rem 0 0 0;
            margin-left: -25px;
        }

        #hero .hero-img img {
        width: 80%;
        }

    /* ABOUT */
    .section-about {
/*        height: 720px;*/
    }

    #about-txt{
        font-size: 2.8vmax;
        padding: 2vmax;
        padding: 1rem 2rem;
    }

    /* TEAM */
    .team .member {
        width: 80%;
    }
}

  /* ========================================== */

  @media (max-width: 390px) {
    /* NAVBAR */
    .navbar_header {
       margin-right: 10rem;
       margin-top: 0.1rem;
       padding: 1rem;
   }

   .navbar a {
       font-size: 0.8rem;
       padding: 0 0.5rem 0 0.4rem;
   }

   .temp {
       padding: 0.3rem 0 0 0;
       margin-left: -25px;
   }

   #hero .hero-img img {
     width: 70%;
   }

   /* ABOUT */
   .section-about {
/*       height: 700px;*/
   }

   #about-txt{
       font-size: 2.8vmax;
       padding: 2vmax;
       padding: 1rem 2rem;
   }

   /* TEAM */
   .team .member {
       width: 70%;
   }

   .team .member .desc{
       padding: 10px 10px;
       text-align: center;
   }
}
